* {
    margin: 0;
    padding: 0;
}

HTML {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

/* NAVBAR STYLING */

.navbar {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Bruno Ace SC', cursive;
    color: goldenrod;

}

.logo a {
    text-decoration: none;
    color: goldenrod;
}

.logo:hover {
    cursor: pointer;
    font-weight: bolder;
}

.nav-links {
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav-links li {
    list-style: none;
    padding: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    border: 2px solid gold;
    font-weight: bolder;
}

.rightnav {
    /* background-color: blue; */
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sm {
    height: 50px;
    width: 150px;
    margin-top: 6px;
    background-color: gold;
    color: white;
    border-radius: 10px;
    /* border: 2px solid gold; */
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.btn-sm a {
    color: black;
    text-decoration: none;
}

.btn-sm:hover {
    cursor: pointer;
    border: 3px solid blue;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(img/navbackground2.jpg);
    background-size: cover;
}

/* HOME SECTION STYLING */

.home {
    display: flex;
    background-image: url(img/homebackground.jpg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.leftbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
}

.primary {
    font-size: 100px;
    font-weight: bold;
    color: gold;
}

.secondary {
    font-size: 80px;
    font-weight: bold;
    color: wheat;
}

.para {
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

/* .btn2 {
    height: 70px;
    width: 180px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 520px;
} */

.btn2 {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    /* border: 2px solid gold; */
    font-weight: bolder;
    font-size: 20px;
    margin-right: 520px;
}

.btn2:hover {
    cursor: pointer;
    border: 3px solid blue;
}

.rightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.rightbox img {
    height: 426px;
    border-radius: 50px;
}

/* ABOUT SECTION  */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/aboutbackground.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 150px;
}

.aboutleftbox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutrightbox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutbox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    gap: 150px;
    margin-top: 20px;
    color: wheat;
    font-size: 25px;
    margin-top: 35px;
}

/* .abtbtn {
    height: 70px;
    width: 180px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 190px;
} */

.abtbtn {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    /* border: 2px solid gold; */
    font-weight: bolder;
    font-size: 20px;
    margin-right: 190px;
}

.abtbtn:hover {
    cursor: pointer;
    border: 3px solid blue;
}

.para2 {
    color: whitesmoke;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    font-family: 'Bruno Ace SC', cursive;
}

/* SERVICE SECTION STYLING */

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 95px;
    background-image: url(/img/servicebackground.jpg);
    background-size: cover;
}

.gridcontainer {
    display: grid;
    background-color: transparent;
    height: 500px;
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 30px;
    margin-bottom: 75px;
}

.griditem {
    background-color: transparent;
    text-align: center;
    padding: 80px;
    color: wheat;
    border: 2px solid goldenrod;
    border-radius: 20px;
}

.griditem:hover {
    border: 2px solid gold;
    cursor: pointer;
    font-weight: bolder;
}

.primary1 {
    text-transform: uppercase;
}

.servicebtn {
    height: 70px;
    width: 180px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 20px;
    /* margin-right: 190px;
    margin-bottom: 40px; */
    margin: 50px;
}

.servicebtn {
    height: 80px;
    width: 190px;
    margin-top: 20px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    /* border: 2px solid gold; */
    font-weight: bolder;
    font-size: 20px;
    margin: 50px;
}

.servicebtn a {
    text-decoration: none;
    color: black;
}

.servicebtn:hover {
    cursor: pointer;
    border: 3px solid blue;
}

/* RESUME STYLING */

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: white; */
    background-image: url(img/resumebackground.jpg);
    background-size: cover;
}

.main1 {
    font-size: 70px;
    font-weight: bold;
    color: gold;
    padding-top: 150px;
}

.experience-primary {
    font-size: 40px;
    font-weight: bold;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 35px;
    padding-left: 35px;
}

.gridcontainer1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* background-color: blue; */
    height: 350px;
    width: 100%;
    column-gap: 20px;
    padding-left: 5px;
}

.gridcontainer2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* background-color: red; */
    height: 350px;
    width: 100%;
    column-gap: 20px;
    padding-left: 5px;
}

.griditem1 {
    background-color: transparent;
    text-align: center;
    padding: 80px;
    color: wheat;
    border: 2px solid goldenrod;
    border-radius: 20px;
    width: 450px;
}

.griditem1:hover {
    border: 3px solid gold;
    cursor: pointer;
}

/* CONTACT FORM STYLING */

.contact {
    padding-bottom: 165px;
    padding-top: 100px;
    background-image: url(img/contactbackground.jpg);
    background-size: cover;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 50%;
    /* background-color: red; */
    color: black;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 140px 140px 140px;
    height: 450px;
    width: 270px;
    row-gap: 40px;
    color: white;
    margin-left: 210px;
}

.contactcard {
    border: 2px solid goldenrod;
    width: 290px;
    text-align: center;
    border-radius: 20px;
}

.contactcard:hover {
    border: 4px solid gold;
    cursor: pointer;
}

.contactheading {
    padding-top: 40px;
}

.inputsections {
    width: 50%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding-top: 30px;
}

.inputspace {
    /* height: 100px; */
    width: 70%;
    border: 2px solid gray;
    margin: 45px;
    padding: 6px;
    border-radius: 20px;
}


.contactbtn {
    height: 80px;
    width: 150px;
    margin-top: 6px;
    background-color: gold;
    color: white;
    border-radius: 10px;
    /* border: 2px solid gold; */
    font-weight: bolder;
    font-size: 20px;
    color: black;
    align-self: flex-start;
    margin-left: 130px;
    margin-top: 27px;
}

.contactbtn:hover {
    border: 3px solid blue;
    cursor: pointer;
}

/* FOOTER STYLING */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/navbackground2.jpg);
    background-size: cover;
}

.footer-primary {
    color: goldenrod;
    font-size: 40px;
}

.footer-secondary {
    color: whitesmoke;
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    gap: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:991px) {}

@media(max-width:768px) {
    .primary {
        font-size: 12px;
    }

    item {
        width: 100%
    }
}