* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
    width: 100%;
}

.container {
    display: flex;
}

.box {
    border: 2px solid black;
    margin: 15px;
    background-color: gray;
}

.sub {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    position: relative;
    width: 30%;
    margin-left: auto;
    font-weight: bolder;
    overflow: auto;
}

.content {
    padding: 10px;
    overflow: auto;
}

.sub1 {
    background-color: rgb(232, 185, 193);
}

.sub2 {
    background-color: aqua;
}

.sub3 {
    background-color: bisque;
}

.content {
    overflow: auto;
}

/* For Desktop Site  */

@media (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/*tablet version*/

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .mobile {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}